* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

body {
    background-color: rgb(197, 217, 253);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

header {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 6px solid darkblue;
    
}


header h1 {
    display: inline-block;
    
    
}

h2 {
    text-decoration: underline;
}

nav {
    
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#me {
    margin-top: 4px;
    padding-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 10px;
    border: 4px solid darkblue;
    
}

#work {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    margin-left: 400px;
    margin-right: 400px;
    border: 4px solid darkblue;

}

#contact {

    border: 4px solid darkblue;
}


footer {
    padding-top: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.large {
    margin-bottom: 100px;
}

.large img {

    margin-left: 60px;
    max-width: 80%;
    border: 2px solid darkblue;

}

.normal {
    margin-bottom: 200px;
}

.normal img {
    margin-left: 60px;
    max-width: 80%;
    border: 2px solid darkblue;

}