* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

body {
    background-color: rgb(197, 217, 253);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

header {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-left: 6px solid darkblue;
    border-bottom: 6px solid darkblue;
    
    
}


header h1 {
    display: inline-block;
    
    
}

h2 {
    text-decoration: underline;
    margin-left: 200px;
    font-size: 40px;
}

nav {
    
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}


p {

    font-size: larger;
}

#me {
    margin-top: 4px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-left: 4px solid darkblue;
    
}

#work {
    padding-left: 20px;

    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    margin-left: 400px;
    margin-right: 400px;
    border-left: 4px solid darkblue;

}

#Contact {
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 200px;
    margin-bottom: 40px;
    margin-left: 400px;
    margin-right: 400px;
    border-left: 4px solid darkblue;
    
}

#Contact a {
    margin-left: 4px;
    padding-left: 70px;
}


footer {

    padding-top: 100px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.large {
    margin-bottom: 100px;
    
}

.large img {
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid darkblue;
    transition: ease-in .5s;

}

.normal {
    margin-bottom: 60px;
}

.normal img {
    margin-top: 10px;
    max-width: 50%;
    border: 2px solid darkblue;
    transition: ease-in .5s;

}

.large img:hover {

    transform: scale(105%);
    
}

.normal img:hover {
    transform: scale(105%);

}











@media screen and (max-width: 768px) {
    #me, h2{
        flex-direction: column;
        align-items: left
    }
}